.card__item {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.card__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}

.card__title {
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000;
}

.card__duration {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    align-items: center;
    color: #A0A0A0;
    margin: 9px 0 0;
}

.card__button_save {
    padding: 0;
    outline: none;
    border: none;
    width: 30px;
    height: 39px;
    background-size: cover;
    background: transparent url(../../images/save_disable.svg) no-repeat center;
    border-radius: 50%;
    transition: all 0.1s;
    cursor: pointer;
}

.card__button_liked {
    padding: 0;
    outline: none;
    border: none;
    width: 30px;
    height: 39px;
    background-size: cover;
    background: url(../../images/save.svg) no-repeat center;
    border-radius: 50%;
    transition: all 0.1s;
    cursor: pointer;
}

.card__button_remove {
    padding: 0;
    outline: none;
    border: none;
    width: 8px;
    height: 8px;
    background-size: cover;
    background: transparent url(../../images/remove.svg) no-repeat center;
    border-radius: 50%;
    transition: all 0.1s;
    cursor: pointer;
}

.card__button_save:hover {
    transform: scale(1.25);
}

/*.card__button:active {*/
/*    background: url(../../images/save.svg) no-repeat center;*/
/*}*/

.card__img {
    display: block;
    width: 100%;
    height: 203px;
    object-fit: cover;
    object-position: center;
}


@media screen and (max-width: 1279px) {
    .card__img {
        height: 190px;
    }
}

@media screen and (max-width: 767px) {
    .card__img {
        height: 168px;
    }
}
