.blink {
    animation-name: blink;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.search-form-section {
    margin: auto;
    max-width: 1140px;
    padding: 70px 30px 80px 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
}

.search-form {
    width: 100%;
    position: relative;
    min-height: 72px;
    background: #F9F9F9;
    border-radius: 9px;
    padding: 0 30px 0 18px;
    display: grid;
    align-items: center;
    justify-items: end;
    grid-template-columns: 50% 1fr 0.5fr 1fr;
    gap: 30px;
}

.input_type_search {
    outline: none;
    border: none;
    width: 100%;
    margin-left: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    background: #F9F9F9;
    display: grid;
    justify-self: start;
    padding: 2px 0 2px 0;
}

.input_type_search:focus {
    border-bottom: 1px solid #e8e8e8;
}

.input_type_search::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
}

.search-form:before {
    content: "";
    background-image: url(../../images/search.svg);
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 28px;
    left: 19px;
    animation-name: blink;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.search-form__button {
    padding: 0;
    border: none;
    width: 34px;
    height: 34px;
    background-size: cover;
    background: transparent url(../../images/find.svg) no-repeat center;
    border-radius: 50%;
    transition: all 0.2s linear;
}

.search-form__button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.search-form__wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}

.border-right {
    display: block;
    border-right: 1px solid #E8E8E8;
    height: 40px;
}

.search-error {
    font-size: 10px;
    line-height: 12px;
    color: #ff4062;
    display: flex;
    align-self: center;
}

@media screen and (max-width: 1279px) {
    .search-form-section {
        padding: 80px 30px 120px 30px;
        gap: 19px;
    }

    .search-form {
        padding: 0 20px 0 28px;
        grid-template-columns: 40% 1fr 0.5fr 1fr;
        gap: 19px;
    }

    .input_type_search {
        width: 100%;
        margin-left: 22px;
    }

    .search-form__wrapper {
        gap: 19px;
    }

}

@media screen and (max-width: 767px) {
    .search-form-section {
        padding: 0px 10px 0px 10px;
    }

    .search-form {
        padding: 45px 19px 80px 19px;
        grid-template-areas: 'input input btn'
                             'error error error'
                             'checkbox checkbox checkbox';
        grid-template-columns: 40% 1fr 0.5fr;
        grid-template-rows: 34px 46px 21px;
        gap: 0;
        align-items: center;
        justify-items: center;
        align-content: center;
    }

    .search-form__wrapper {
        justify-self: flex-end;
        gap: 0;
    }

    .border-right {
        display: none;
    }


    .input_type_search {
        grid-area: input;
        width: 100%;
        margin-left: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: #A0A0A0;
        background: #F9F9F9;
    }

    .search-form__wrapper {
        grid-area: btn;
    }

    .search-error {
        grid-area: error;
        font-size: 7px;
        line-height: 10px;
        align-self: start;
        justify-self: center;
    }

    .input_type_search::placeholder {
        font-size: 14px;
    }

    .search-form:before {
        display: none;
    }

    .search-form__button {
        margin-right: 0;
    }

    .search-form__checkbox_wrapper {
        grid-area: checkbox;
    }

}
